extends ../layout

block content
    //- head
    //-     title Page Not Found
    //-     link(href="../public/stylesheets/style.css", rel="stylesheet")

    //- body
    h1 Page Not Found
    p Sorry! We couldn't find the page you were looking for.
    br
    p
        a.button(href="all_books.html") Home