extends layout

block content

    body
        h1 Books
        div.search
            a.button(href="/books/new") Create New Book
            div.searchBar
                form(method="GET" action="/books/search")
                    input(type="text" name="search" id="search" placeholder="Search...")
                    input(type="submit" value="Search")
        br
        table
            thead
                tr
                    th Title
                    th Author
                    th Genre
                    th Year
            tbody
                each val in books
                    tr
                        td
                            a(href=`/books/${val.id}`)= val.title
                        td= val.author
                        td= val.genre
                        td= val.year