extends layout

block content

    body
        h1 New Book
        form(action="")
            p Title:
                input(type="text" name="title" placeholder="Title")
            p Author:
                input(type="text" name="author" placeholder="Author")
            p Genre:
                input(type="text" name="genre" placeholder="Genre")
            p Year:
                input(type="text" name="year" placeholder="Year")
            p
                input(type="submit") Create New Book
            p
                a.button(href="all_books.html") Cancel